__pycache__/
*.pyc
*.pyo
build/
dist/
*.spec

.DS_Store

validation/
generated_headers/
*.hex
*.occ
*.asm
*.err
*.var
*.cod
*.cof
*.lst

cc5x_paid/
SETCC.EXE
cc5xs38a-installer
cc5xs38c-installer.zip
cc5xs38c.exe
C02683S5.TXT
compilerLink.txt
getting_started_C.pdf

*.atpack

.cxoffice/
.wine/
